/* #region Basic style */
body {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    background-color: #fff;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    padding: 0;
    margin: 0;
}

img {
    display: block;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.container {
    width: 1158px;
    padding: 0 15px;
    margin: 0 auto;
}

/* #endregion */
/* #region header */
.header {
    border-bottom: 1px solid #e7e9fc;
}

.header-container {
    display: flex;
    align-items: center;
}

/* #endregion */
/* #region logo */
.logo {
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    font-family: "Raleway", sans-serif;
    text-transform: uppercase;
    text-decoration: none;
}

.header-logo {
    padding: 24px 0;
    margin-right: 76px;
}

.logo-accent {
    color: #4d5ae5;
}

.logo-white {
    color: #2e2f42;
}

.logo-black {
    color: #f4f4fd;
}

.logo-white:hover,
.logo-white:focus,
.logo-black:hover,
.logo-black:focus {
    color: #404BBF;
}

/* #endregion */
/* #region Navigation */
.nav {
    display: flex;
    align-items: center;
}

.nav-list {
    display: flex;
    align-items: center;
    gap: 40px;
    list-style: none;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.current {
    position: relative;
}

.current::after {
    content: '';
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: #404BBF;
}

.nav-text {
    display: block;
    padding: 24px 0;
    color: #2e2f42;
    text-decoration: none;
}

/* #endregion */
/* #region contact */

.contacts {
    margin-left: auto;
}

.contacts-list {
    display: flex;
    align-items: center;
    margin-left: auto;
    gap: 40px;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}


.contacts-text {
    display: block;
    color: #434455;
    text-decoration: none;
    font-style: normal;
}

.nav-text,
.contacts-text {
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-text:hover,
.contacts-text:hover,
.nav-text:focus,
.contacts-text:focus {
    color: #404bbf;
}

/* #endregion */

.hero {
    background-image:
        linear-gradient(rgba(46, 47, 66, 0.7),
            rgba(46, 47, 66, 0.7)),
        url("../images/01b23b295bb31faa9ced18611aad480a574bc6af.jpg");

    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    background-color: #2e2f42;
    max-width: 1440px;
    margin: 0 auto;

    padding: 188px 0;
}

.hero-title {
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
    color: #fff;
    margin: 0 auto 48px;
    max-width: 496px;
}

.hero-button {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #fff;
    background-color: #4d5ae5;
    cursor: pointer;
    display: block;
    margin: 0 auto;
    padding: 16px 32px;
    border: none;
    border-radius: 4px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-button:hover,
.hero-button:focus,
.hero-button:active {
    background-color: #404bbf;
}

/* #region Fatures */
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.features {
    padding: 120px 0;
}

.features-list {
    display: flex;
    gap: 24px;
}

.features-logo {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 112px;

    background-color: #f4f4fd;
    border: 1px solid #8e8f99;
    border-radius: 4px;

    margin-bottom: 8px;
}


.features-item {
    width: calc((100% - 72px)/ 4);
}

.features-subtitle {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
}

/* #endregion */
/* #region Team */
.team {
    background-color: #f4f4fd;
    padding: 120px 0;
}

.team-list {
    display: flex;
    gap: 24px;
}

.team-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11111;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    margin-bottom: 72px;
}

.team-item {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    background-color: #fff;
    width: calc((100% - 72px) / 4);
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
    border-radius: 0 0 4px 4px;

}

.team-name {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
}

.team-name-text {
    padding: 32px 16px;
    margin-bottom: 8px;
}

.team-text {
    text-align: center;
    padding: 8px 28px 0;
}

.team-social-list {
    display: flex;
    gap: 24px;
    justify-content: center;
    align-items: center;
    margin-top: 8px;
}


.team-social-link {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: #4D5AE5;
    width: 40px;
    height: 40px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-social-link:hover,
.team-social-link:focus {
    background-color: #404bbf;
}

/* #endregion */
/* #region Portfolio */
.portfolio {
    padding: 120px 0;
}

.portfolio-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11111;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    margin-bottom: 72px;
}

.portfolio-list {
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
}

.portfolio-item {
    width: calc((100% - 48px) / 3);
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-img-wrapper {
    position: relative;
    overflow: hidden;
}

.overlay {
    color: #F4F4FD;
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    padding: 40px 32px;
    background-color: #4D5AE5;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-item:hover,
.portfolio-item:focus {
    box-shadow:
        0px 1px 6px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 2px 1px rgba(46, 47, 66, 0.08);
}

.portfolio-item:hover .overlay,
.portfolio-item:focus .overlay {
    transform: translateY(0%);
}


.portfolio-subtitle {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    padding-bottom: 8px;
}

.portfolio-subtitle-text {
    border: 1px solid #e7e9fc;
    border-top: none;
    padding-block: 32px;
    padding-inline: 16px;
}

/* #endregion */
.footer {
    background-color: #2e2f42;
    padding: 100px 0;
}

.footer-container {
    display: flex;
}

.footer-text {
    color: #f4f4fd;
    padding-top: 16px;
    width: 264px;
}

.footer-social {
    display: flex;
    flex-direction: column;
    margin-left: 120px;

}

.footer-social-title {
    color: #FFFFFF;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
    margin-bottom: 16px;
}

.footer-social-list {
    display: flex;
    gap: 16px;
}

.footer-social-link {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: #4D5AE5;
    width: 40px;
    height: 40px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-social-link:hover,
.footer-social-link:focus {
    background-color: #31D0AA;
}